<%- include("./partials/navbar") %>
<div class="main-content">   
<h1>Welcome to Covid Vaccine Slot(INDIA) Wiki!</h1>
    
    <p>Enter the Pincode(6 digits) and Date and get real-time* info for vaccine centers!</p>
    
    
    <form action="/about">
        <div class="textBox">
            <input class="input is-normal" id="pin" type="text" placeholder="Pin Code">
            <input class="input is-normal" id="date" type="text" placeholder="Data in(dd-mm-yyyy)">
            <div class="control">
                <label class="radio">
                  <input type="radio" name="answer">
                  Min-Age 18
                </label>
                <label class="radio">
                  <input type="radio" name="answer">
                  Min-Age 45
                </label>
            </div>
            <span>
                <button class="button is-info" type="submit"><i class="fa fa-search" style="font-size:20px"></i> Search</button>
            </span>
            
        </div>
    </form>
    <p>For example- Pincode: 201301 Date: 01-06-2021</p> 
    
    <p>To Book a slot visit: <a href="https://selfregistration.cowin.gov.in/">Co-win website</a></p>
    <div class="table-container ">
        <table class="table is-striped" >
         <thead>
             <tr>
                 <th>Center Name</th>
                 <th>Dose 1 Avalability</th>
                 <th>Dose 2 Availability</th>
                 <th>Vaccine</th>
                 <th>Address</th>
                 <th>Min-Age</th>
                 <th>Fee-Type</th>
             </tr>
         </thead>
         <tbody id="table">
             
         </tbody>
        </table>
      </div>
      <p id="error"></p>
    </div>
 
    
     
    <footer>
        <hr>
        <p>Developed by Kshitiz Vikram Singh. Connect with me on--</p>
        <p><i class="fa fa-github" style="font-size:24px"></i> <a href="https://github.com/kshitizchamp">Github/kshitiz</a> <i class="fa fa-twitter" style="font-size:24px"></i><a href="https://twitter.com/KshitizVikramSi">twitter/kshitiz</a></p>
    </footer> 
          
      <script src="test.js"></script>  
</body>

</html>